body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #cbd5e1;
  font-family: "Inter";
}

.hands {
  font-size: 3em;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}

.hands:hover {
  cursor: pointer;
}

.hands:active {
  background-color: #94a3b8;
}

#scoreboard {
  font-family: "Silkscreen";
  font-size: 1.2em;
}

#result {
  text-align: center;
}
